$page-bg: #fff;
$tone-lighten: #f7f7f7;
$tone-light: #ebebeb;
$tone-middle: #c2c2c2;
$tone-dark: #8d8d8d;
$tone-darken: #7f7f7f;
$light: #fff;
$dark: #000;
$primary: #108cc0;
$input-bg: #F7F7F7;
$link-color: #108cc0;

$color-success: #1fb501;
$color-info: #268bb5;
$color-warning: #b56d16;
$color-danger: #b51818;

$max-width: 1200px;

$width-xs: 599px;
$width-sm: 779px;
$width-md: 1019px;

$container-indent: 15px;
