@import "variables";

.wrapper {
  overflow-x: auto;
  clear: both;
}

.container {
  display: table;
  width: 100%;
  list-style: none;

  @media screen and (max-width: $width-sm) {
    font-size: 0.9em;
  }

  @media screen and (max-width: $width-xs) {
    font-size: 0.75em;
  }
}
