.mask{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,.8);
  text-align: center;
  z-index: 100;

  &.transparent {
    background-color: transparent;
  }

  .loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}


$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;

// scaling... any units
.loader {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .circular {
    animation: rotate 1.5s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .path {
    stroke-width: 3;
    stroke-miterlimit: 10;
    fill: none;
    stroke-dasharray: 1, 124;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
  }

  &.colored {
    .path {
      animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    }
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 89, 36;
      stroke-dashoffset: -2;
    }
    50% {
      stroke-dasharray: 1, 124;
      stroke-dashoffset: -122;
    }
    100% {
      stroke-dasharray: 124, 36;
      stroke-dashoffset: -122;
    }
  }

  @keyframes color {
    100%,
    0% {
      stroke: $blue;
    }
    40% {
      stroke: $green;
    }
    66% {
      stroke: $yellow;
    }
    80%,
    90% {
      stroke: $red;
    }
  }
}

.center {
  text-align: center;
}
